[user]
	email = servicesDrkn@gmail.com
	name = Dr4kn
[credential]
	helper = store
[safe]
	directory = /home/adrian/Documents/Programming/ansible-config
[init]
	defaultBranch = main
[core]
	editor = vim

[alias]
	# graph view with pretty formating
	graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all	
	lg = graph
	lg1 = lg
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n%C(white)%s%C(reset) %C(dim white) - %an%C(reset)' --all
	lg3 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n%C(white)%s%C(reset)%n%C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

	s = status
	# less verbose version of status
	st = status -sb
	co = checkout
	cm = commit -m
	save = !git add -A && git commit -m 'chore: commit save point' 
	# e.g. cob main
	cob = checkout -b
	# e.g. del feature
	del = branch -D
	# removes the last commit from history
	undo = reset HEAD~1 --mixed 
	last = log -1 HEAD --stat
	# removes all local changes
	fuckit = reset --hard
	done = push origin HEAD
	ri = rebase -i

[help]
	autocorrect = 20
